html {
  overflow-y: scroll;
  font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Segoe UI,
    Hiragino Kaku Gothic ProN, Hiragino Sans, ヒラギノ角ゴ ProN W3, Arial, メイリオ, Meiryo,
    sans-serif;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  width: 100%;
  font-size: 12px;
  line-height: 1.5em;
  color: #444;
  background: #fefefe;
  padding: 0;
  margin: 0;
}

.main_content {
  max-width: 42em;
  padding: 1em;
  margin: auto;
}

footer {
  max-width: 42em;
  padding: 1em;
  margin: auto;
}

a {
  color: #0645ad;
  text-decoration: underline;
}

a:visited {
  color: #333;
}

a:hover {
  color: #06e;
  text-decoration: none;
}

a:active {
  color: #faa700;
}

a:focus {
  outline: thin dotted;
}

a:hover,
a:active {
  outline: 0;
}

::-moz-selection {
  color: #000;
  background: rgba(255, 255, 0, 0.3);
}

::selection {
  color: #000;
  background: rgba(255, 255, 0, 0.3);
}

a::-moz-selection {
  color: #0645ad;
  background: rgba(255, 255, 0, 0.3);
}

a::selection {
  color: #0645ad;
  background: rgba(255, 255, 0, 0.3);
}

p,
span,
div {
  font-size: 18px;
}

h1,
h2,
h3 {
  font-weight: 700;
  line-height: 1em;
  color: #111;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  line-height: 1.5;
  color: #222;
  letter-spacing: 0.04em;
}

h4,
h5,
h6 {
  font-weight: bold;
}

h1 {
  min-height: 1em;
  margin-top: 72px;
  margin-bottom: 18px;
  font-size: 32px;
  font-weight: 700;
  pointer-events: auto;
}

h2 {
  margin-top: 50px;
  margin-bottom: -18px;
  font-size: 28px;
  font-weight: 700;
  line-height: 1.75;
  letter-spacing: 0.04em;
  -webkit-font-feature-settings: 'palt' 1;
  font-feature-settings: 'palt' 1;
}

h3 {
  margin-top: 50px;
  margin-bottom: -18px;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.75;
  letter-spacing: 0.04em;
  -webkit-font-feature-settings: 'palt' 1;
  font-feature-settings: 'palt' 1;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 12px;
}

blockquote {
  padding: 25px 36px;
  margin: 36px 0;
  font-size: 16px;
  line-height: 36px;
  background-color: #f7f9f9;
}

hr {
  display: block;
  padding: 0;
  margin: 1em 0;
  border: 0;
  border: 1px solid #e6e6e6;
}

pre {
  word-wrap: break-word;
  white-space: pre;
  white-space: pre-wrap;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

ins {
  color: #000;
  text-decoration: none;
  background: #ff9;
}

mark {
  font-style: italic;
  font-weight: bold;
  color: #000;
  background: #ff0;
}

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

ul,
ol {
  padding: 0 0 0 2em;
  margin: 1em 0;
}

li p:last-child {
  margin: 0;
}

dd {
  margin: 0 0 0 2em;
}

img {
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

td {
  vertical-align: top;
}

@media only screen and (min-width: 480px) {
  body {
    font-size: 14px;
  }
}

@media only screen and (min-width: 768px) {
  body {
    font-size: 16px;
  }
}

.navBar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 11;
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #e6e6e6;
  box-shadow: 0 0 1px rgba(34, 34, 34, 0.08);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  -webkit-transform: translate(0);
  transform: translate(0);
}

.navbarTop {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  width: auto;
  min-height: 64px;
  margin-right: 24px;
  margin-left: 24px;
}

.navbarTop__nav {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.navbarTop__navItem {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  margin-left: 16px;
}

.a_button,
.a_button .a_button__inner {
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}

.a_button {
  display: inline-block;
  display: -webkit-inline-box;
  display: inline-flex;
  min-height: 32px;
  padding: 0 16px;
  margin: 0;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  vertical-align: top;
  touch-action: manipulation;
  cursor: pointer;
  background-color: #2cb696;
  border: none;
  border-radius: 4px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.a_button:hover {
  color: #fff;
  background-color: #228d74;
}
.a_button:visited {
  color: #fff;
}

.a_button .a_button__inner {
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}

.a_button__inner {
  font-size: 12px;
}

.article__body {
  width: 620px;
  margin-right: auto;
  margin-left: auto;
}

.pageTitle {
  margin: 24px 0;
}

.title_button_link {
  font-weight: bold;
  text-decoration: none;
}

.title_button_link:hover {
  color: #333;
}

.hljs {
  padding: 36px !important;
  margin-top: 36px !important;
  margin-bottom: 36px !important;
  font-family: note monospace,SFMono-Regular,Consolas,Menlo,Courier,monospace !important;
  line-height: 18px !important;
  color: #fff !important;
  white-space: pre-wrap !important;
  background-color: #282c34 !important;
  font-size: 12px !important;
}
.hljs span,
.hljs pre {
  font-size: 12px;
}