<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="chrome=1" />

  <link rel="stylesheet" type="text/css" href="/note/assets/styles/stylesheet.css" media="screen">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.10/styles/vs2015.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.10/highlight.min.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>

  <title>{{ page.title }} - ryo の note</title>
</head>

{% if page.lastmod %}
{% assign lastmod = page.lastmod %}
{% else %}
{% assign lastmod = page.date %}
{% endif %}

<body>

  <header class="navBar">
    <div class="navbarTop navBar__inner">
      <h1 class="pageTitle">
        <a href="https://ryo034.github.io/note/" class="title_button_link">
          Ryoのnote
        </a>
      </h1>
      <nav class="navbarTop__nav">
        <div class="navbarTop__navItem">
          <a href="https://note.com/signup?redirectPath=%2Fatsumimaiko%2Fn%2Fn642afcf1cf5b" target="_self"
            data-disable-focus="false" class="a_button">
            <div class="a_button__inner">View on GitHub</div>
          </a>
        </div>
      </nav>
    </div>
  </header>

  <div class="container">
    <section class="main_content">
      <span>最終更新:
        <time itemprop="dateModified" datetime="{{ lastmod }}">{{ lastmod }}</time>
      </span>
      <div id="markdown">{{ content }}</div>
    </section>
  </div>
</body>

</html>